* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    header {
    text-align: center;
    background-color: #3a3a3a;
    color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    }
    
    main {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 20px;
    }
    
    .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    }
    
    label {
    margin-bottom: 5px;
    }
    
    input {
    padding: 5px;
    border-radius: 5px;
    border: solid;
    border-width: 1.5px;
    margin-bottom: 10px;
    }
    
    button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #3a3a3a;
    color: #fff;
    cursor: pointer;
    }
    
    #tabela {
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
    }
    
    #tabela th,
    #tabela td {
    text-align: center;
    padding: 8px;
    font-size: 16px;
    }
    
    #tabela th {
    background-color: #4caf50;
    color: white;
    }
    
    #tabela tr:nth-child(even) {
    background-color: #f2f2f2;
    }
    
    #tabela tr:hover {
    background-color: #ddd;
    }
    
    .margem-verde {
    color: green;
    }
    
    .margem-vermelha {
    color: red;
    }
    
    #tabelaProdutosWrapper {
    width: 100%;
    max-width: 800px;
    overflow-x: auto;
    }
    
    #tabelaProdutos {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    }
    
    #tabelaProdutos th,
    #tabelaProdutos td {
    padding: 10px;
    border: 1px solid #3a3a3a;
    text-align: center;
    }
    
    #tabelaProdutos th {
    background-color: #3a3a3a;
    color: #fff;
    }
    
    #tabelaProdutos tr:nth-child(even) {
    background-color: #f2f2f2;
    }
    
    #totalWrapper {
    text-align: right;
    }
    
    #totalWrapper p {
    margin-bottom: 5px;
    }
    
    #totalLucro {
    font-weight: bold;
    color: green;
    }
    
    .negativo {
    color: red;
    font-weight: bold;
    }
    
    .botao-excluir {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 5px;
    cursor: pointer;
    }
    
    @media screen and (max-width: 768px) {
        #tabelaProdutos {
          display: flex;
          width: 100%;
          overflow-x: auto;
          justify-content: center;
        }
        #tabelaProdutos th,
        #tabelaProdutos td {
          display: block;
          width: 100vw;
          text-align: center;
        }
      }
      
    
    #tabelaProdutosWrapper {
    width: 80%;
    max-width: none;
    overflow-x: auto;
    }
    
 
